node_modules

dist/
package-lock.json

# Local environment variables
.env
!/.env.example
.env.*

# Ignore leftover patch files
change.patch
lint.log

# Admin template (not used)
template/
# Original archive removed to keep history small
MajesticAdmin-Free-Bootstrap-Admin-Template-master.zip
