# Каталог зависимостей
node_modules/

# Сборочный результат
dist/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Файлы macOS
.DS_Store

# Конфигурации IDE
.idea/
.vscode/

# Системные файлы
Thumbs.db

# Локальные переменные окружения
.env
.env.*.local

# Кеши
.eslintcache

